.container{
    width: 20%;
    height: 695px;
    background: #363636;
    text-align: center;
}
.navbar{
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.navbar-con{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.client{
    text-align: start;
    width: auto;
    display: block;
}
.logobox{
    margin-top: 60px;
}